
</body>
<script type="text/javascript" src="script/bootstrap.min.js"></script>
<script type="text/javascript" src="script/jQuery.js"></script>
<script type="text/javascript" src="script/main.js"></script>
</html>