<!DOCTYPE html>
<html>
<head>
	<title>Vapptek | by-Vaibhav Mehrotra</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/bootstrap.min.css">

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<!-- NavBar -->
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
		<div class="container">
	  		<a class="navbar-brand" href="/">
	    		<img src="img/logocrop.png" width="30" height="30" class="d-inline-block align-top"> VAPPTEK
	  		</a>
	  		
	  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>
			
			<!-- Collapsable Elements -->
  			<div class="collapse navbar-collapse navbar-toggleable-sm" id="navbarSupportedContent">
  				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
        				<a class="nav-link" href="/services">Services</a>
      				</li>
					<li class="nav-item">
        				<a class="nav-link" href="/careers">Careers</a>
      				</li>
  					<li class="nav-item">
        				<a class="nav-link" href="/aboutUs">AboutUs</a>
      				</li>
					<li class="nav-item">
        				<a class="nav-link" href="/contact">Contact</a>
      				</li>
  				</ul>
  			</div> <!--Collapsable Ends-->		
	  	</div><!--Nav Container Ends-->
	</nav>
	<div class="fixed-top" id="navDownStripe"></div>
	<!-- NavBar Ends -->