<% include partials/head %>

	<!-- Body Start -->
	<div class="container" id="content">
		<!-- About Us -->
		<div class="section" id="aboutUs">
			<h2 class="textShadow orange text-center"><strong>About Us</strong></h2>
			<hr>
			<div class="container">
				<p class="textJustify">We are one of the best service provider in this IT industry since 2015. We are a team of creative thinking and innovators. We always work with commitment to deliver a consistent output by utilizing the best of the resource and technology. VAPPTEK founded with a mission to provide IT services to every common person and making them to be user friendly. We not only design and develop the product, we also educate client how it works and how they can minimise their work by learning basics which helps them to reduce future maintenance fees and also they can maintain the confidentiality of their project. We demonstrate the work of each project with our client and their employees before the launch and make sure they will become user friendly.</p>
			</div>
		</div>
	</div>

<% include partials/foot %>