<% include partials/head %>

	<!-- Service -->
	<div class="section" id="service">
		<h2 class="textShadow orange text-center"><strong>Services</strong></h2>
		<hr>
		<!-- Flexbox -->
		<div class="container serviceTabs">
			<div class="card" id="box1">
				<div class="card-body">
					<h4 class="card-title text-center"><strong>Website Design and Development</strong></h4>
					<p class="textJustify card-text">We work with you to develop a user experience which delivers value to your audience. Value means repeat visits and referrals via social media and other channels. Using our years of experience and research, Vapptek's web design and development solutions are customized to help you achieve your digital marketing goals.</p>
				</div>
			</div>
			<div class="card" id="box2">
				<div class="card-body">
					<h4 class="card-title text-center"><strong>Mobile Apps Development</strong></h4>
					<p class="textJustify card-text">Mobile applications and mobile web sites are quickly becoming larger portions of every company’s digital media plan. With more and more smart phones purchased every day, making sure you have a quality presence on a mobile device is not only incredibly important but becoming absolutely essential to a successful marketing campaign. Vapptek can develop a wide variety of Mobile web sites as well as custom Mobile Applications for any device or platform.</p>
				</div>
			</div>
		</div>
		<div class="container serviceTabs">
			<br />
		</div>
		<div class="container serviceTabs">
			<div class="card" id="box3">
				<div class="card-body">
					<h4 class="card-title text-center"><strong>Web Host</strong></h4>
					<p class="textJustify card-text">Another service we offer our clients is website maintenance. Through this service, we’re able to provide you with recommendations to reach your marketing goals, make simple text updates as well as add additional pages of content to help in your SEO efforts. We provide this service to all new and existing clients even if we didn’t develop your website.</p>
				</div>
			</div>
			<div class="card" id="box4">
					<div class="card-body">
					<h4 class="card-title text-center"><strong>Software Development</strong></h4>
					<p class="textJustify card-text">Software Developments include techniques and programs like .NET Programming / Java, application re-engineering, PHP, software re- factoring. Internet / Intranet web design services include services like CRM, Client / Server application development, Web development and Knowledge Management systems.</p>
				</div>
			</div>
		</div><!--Flexbox Ends-->
	</div>

	<!-- Why Us -->
	<div class="section">
		<h2 class="textShadow orange text-center"><strong>Why Vapptek?</strong></h2>
		<hr>
		<div class="container">
		
		</div>
	</div>

<% include partials/foot %>